/* * {
  outline: 1px solid #bada44;
} */
body {
  font-family: monospace;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: monospace;
}
::-moz-placeholder { /* Firefox 19+ */
 font-family: monospace;
}
:-ms-input-placeholder { /* IE 10+ */
 font-family: monospace;
}
:-moz-placeholder { /* Firefox 18- */
 font-family: monospace;
}

#todo-list {
  list-style: none;
  padding-left: 0;
  display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
h1 {
  text-align: center;
}
.newtask,
.tasks_container {
  max-width: 400px;
  margin: 0 auto;
}

.newtask {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

#todo-input {
  font-family: monospace;
  width: 100%;
  max-width: 400px;
  margin-right: 8px;
  height: 2rem;
  border: 1px solid #000;
  border-radius: 8px;
  padding-left: 8px;
}
#add-task {
  border-radius: 8px;
  border: 1px solid #000;
  font-family: monospace;
}

.task_filter {
  display: flex;
  justify-content: center;
}
.task_filter button {
  margin-right: 8px;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid #000;
  font-family: monospace;
}

.task_filter button:last-child {
  margin-right: 0px;
}

#todo-list li {
  display: flex;
  margin-bottom: 16px;
  border: 1px solid #8a8a8a;
  padding: 10px;
  border-radius: 8px;
}

#todo-list li input[type="checkbox"] {
  margin: 0;
  align-self: flex-start;
  margin-top: 1px;
}
#todo-list li p {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
#todo-list li[data-status="done"] p {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}
#todo-list li[data-status="done"] {
  border-color: #66ba2f;
  background-color: rgba(128, 234, 128, 0.5);
}

#todo-list li p + button {
  align-self: baseline;
  padding: 0;
  margin-left: auto;
  font-size: 0.4rem;
}
